PORT=5000

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=content_broadcasting
DB_USER=postgres
DB_PASSWORD=@Vijay3004

# JWT
JWT_SECRET=mysupersecretkey123abc456xyz
JWT_EXPIRES_IN=7d

# File Upload
MAX_FILE_SIZE=10485760
UPLOAD_DIR=src/uploads
